In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('chat_history.db')
cursor = conn.cursor()

# Execute a query to retrieve all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:

modal volume get db_data /chat_history.db .

In [8]:
import pandas as pd

# Read the 'conversation' table into a pandas DataFrame
df_conversation = pd.read_sql_query("SELECT * FROM conversation", conn)

# Display the first few rows of the DataFrame
print(df_conversation.head())

   id                            session_id       role  \
0   1  1697206b-ce83-4ec1-9699-2c11d1f8d8c4       user
1   2  1697206b-ce83-4ec1-9699-2c11d1f8d8c4  assistant
2   3  3ce404f1-a5b9-4f84-8bb5-72c56fabc5b8       user
3   4  3ce404f1-a5b9-4f84-8bb5-72c56fabc5b8  assistant
4   5  7f774005-e00c-414d-a137-a367af22b0bb       user

                                             content
0     Hi there, I need some help please, checking db
1   Hello! What seems to be on your mind? Is ever...
2  I want to find a new job as a db engineer, but...
3   You might find that your feelings about your ...
4                                     my name is Bob

In [9]:
df_conversation.tail(500)

,id,session_id,role,content
0,1,1697206b-ce83-4ec1-9699-2c11d1f8d8c4,user,"Hi there, I need some help please, checking db"
1,2,1697206b-ce83-4ec1-9699-2c11d1f8d8c4,assistant,Hello! What seems to be on your mind? Is ever...
2,3,3ce404f1-a5b9-4f84-8bb5-72c56fabc5b8,user,"I want to find a new job as a db engineer, but..."
3,4,3ce404f1-a5b9-4f84-8bb5-72c56fabc5b8,assistant,You might find that your feelings about your ...
4,5,7f774005-e00c-414d-a137-a367af22b0bb,user,my name is Bob
5,6,7f774005-e00c-414d-a137-a367af22b0bb,assistant,Hello Bob! How can I assist you today?
6,7,92c92675-4809-4883-916e-49c600dcc38d,user,I fancy my teacher
7,8,92c92675-4809-4883-916e-49c600dcc38d,assistant,You're not alone in having feelings for someo...
8,9,6a68cb84-edb3-43b4-94f9-5428758b6135,user,what is my name?
9,10,6a68cb84-edb3-43b4-94f9-5428758b6135,assistant,I'm happy to help you explore your thoughts a...

In [8]:
# (Optional) Close the cursor if you're done with it
cursor.close()